{% extends 'base.html.twig' %}

{% block title %} {{ 'title.reset.password'|trans }} {% endblock %}
{% block body_id 'reset_password' %}
{% block main %}

{% if data is defined %}
<form action="{{ path('resetpasswordchecker') }}?selector={{data.selector}}&validator={{data.token}}" method="post">
    <div class="row">
        <div class="col-sm-12">
            <div class="control has-icons-left ">
                {{ form_label(form.newPassword.first, null, {'label_attr': {'class': 'label'}}) }}
                <div class="control has-icons-left ">
                    {{ form_widget(form.newPassword.first,
                    {'attr':{'placeholder':'Votre nouveau mot de pass' }}) }}

                </div>
            </div>
            <div class="control has-icons-left ">
                {{ form_label(form.newPassword.second, null, {'label_attr': {'class': 'label'}}) }}
                <div class="control has-icons-left ">
                    {{ form_widget(form.newPassword.second,
                    {'attr':{'placeholder':'Confirmation du nouveau mot de pass'}}) }}

                </div>
            </div>
            <span class="is-small has-text-danger has-text-left-mobile has-text-weight-bold">
                {{ form_errors(form.newPassword.first) }}
            </span>
        </div>
    </div>
<div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form._token) }}
            <div class="control">
                <button type="submit" class="btn btn-primary">Changer de mot de passe</button>
            </div>
        </div>

    </div>

</form>
{% else %}
<form action="{{ path('resetpassword') }}" method="post">
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <label for="email" class="label">Adresse e-mail:</label>
            {{ form_widget(form.email,
            {'attr':{'placeholder':'Votre Email' }}) }}
            {{ form_row(form._token) }}
        </div>
        <div class="col-sm-4" style="margin-top: 10px">
            <button type="submit" class="btn btn-primary btn-lg">Valider </button>
        </div>
    </div>
</div>

</form>
{% endif %}

{% endblock %}