{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12">
        {{ form_start(form) }} 
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_widget(form._token) }} 
    </div>
</div>
<button type="submit" class="btn btn-primary">Créer votre compte</button>

{% endblock %}
{% block sidebar %}
<div class="card">
    <div class="card-header">
        {{ 'login.account.title'|trans }} ?
    </div>
    <div class="card-body">
        <a href="{{path('security_login')}}">
            {{ 'login.account.connect'|trans }}
        </a>
    </div>
</div>
{{ parent() }}
{% endblock %}