{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
{{ form_row(form.termsAccepted,{label_attr: {class: 'radio-custom'} }) }}
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary">Register!</button>
{{ form_end(form) }}
{% endblock %}