{% trans_default_domain 'FOSUserBundle' %} 
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{{ form_row(form.username) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword.first) }}
{{ form_row(form.plainPassword.second) }}
{{ form_widget(form._token) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}"  class="btn btn-primary"/>
    </div>
{{ form_end(form) }}

