{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Symfony Demo application{% endblock %}</title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

    {% block header %}
    <header>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-2 col-lg-2">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        Community
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">

                        {% block header_navigation_links %}

                        <li>
                            <a href="{{ path('post_new') }}" class="nav-link">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.newpost'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('post_index') }}" class="nav-link">
                                <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin') }}" class="nav-link">
                                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                            </a>
                        </li>
                        {% endif %}


                        <li>
                            <a href="{{ path('post_index_paginated_search') }}" class="nav-link"> <i class="fa fa-search"></i> {{
                                'menu.search'|trans }}</a>
                        </li>

                        <li class="dropdown">
                            {% if app.user %}

                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                                aria-expanded="false" id="user">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">{{ app.user.firstname }}</span>
                            </a>
                            <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                                <li>
                                    <a href="{{ path('user_edit') }}" class="dropdown-item">
                                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('security_logout') }}" class="dropdown-item">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                    </a>
                                </li>
                            </ul>
                            {% else %}
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                                aria-expanded="false" id="user">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">not connected</span>
                            </a>
                            <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                                <li>
                                    <a href="{{ path('security_login') }}" class="dropdown-item"> <i class="fa fa-sign-in"></i>
                                        {{'menu.login'|trans }}</a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    <div class="container fluid">
        {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {{ include('default/_flash_messages.html.twig') }}
                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}
                {{
                render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction',
                {
                'template': 'default/about.html.twig',
                'sharedAge': 600,
                '_locale': app.request.locale
                })) }}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <div class="container fluid">
            <div class="row">
                <div id="footer-copyright" class="col-md-12">
                    <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                    <p>{{ 'mit_license'|trans }}</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
                <div class="float-right">
                    <a href="{{ path('home_contact') }}" class="nav-link">
                        <i class="fa fa-envelope" aria-hidden="true"></i> {{ 'menu.contact'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}


    {% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
    {% endblock %}
</body>

</html>