<form method="post" name="{{parent_id}}">
    <div class="form-row">
        <div class="col-1">
            <img class="ui_identity_user_photo"
                src="https://qph.fs.quoracdn.net/main-thumb-139737618-50-xgvifbpmbjofgrqkrrasrloqyvucmwqy.jpeg"
                alt="Ibou Diallo" height="45px" width="35px">
        </div>
        <div class="col">
            <textarea class="form-control" rows="1" name="content" required></textarea> 
        </div>
        <div class="col">
            <input id="parent_{{parent_id}}" type="hidden" value="{{parent_id}}" name="parent">
            <input id="url" type="hidden" value="{{path('comment_new', {'postUuid': post.uuid})}}" name="path"> 
            <button class="btn btn-primary publish-comment" type="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> {{ 'action.publish_comment'|trans }}
            </button>
        </div>
    </div>
</form>


