{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('css/search') }}
{% endblock %}

{% block body_id 'blog_index' %}

{% block main %} 
<div class="list-article">
    <form action="{{ path('post_index') }}" method="get">
        <div class="form-row align-items-end">
            <div class="col-sm-9">
                <div class="form-group">
                    <input name="query" class="form-control" autofocus
                        data-no-results-message="{{ 'post.search_no_results'|trans }}" required placeholder="Mots clés...(Liberté, art, le pouvoir ...)"
                       value="{{query}}" >
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button class="btn btn-secondary form-control">{{ button_label|default('Search') }}</button>
                </div>
            </div>
        </div>

    </form>

    {% if query %}
    <div class="row justify-content-end">
        <div class="badge badge-info text-right col-5">
            <div class="text-black">
                {% if posts.getNbResults > 0 %}
                {{posts.getNbResults}} resultats pour <span style="font-weight: bold">{{query}}</span> 
                    {% if queryTags %}
                        ,<strong> Filtre : {{queryTags}}</strong>
                    {% endif %}
                {% else %}
                {{ 'post.search_no_results'|trans }} pour <span style="font-weight: bold">{{query}}</span>
                {% endif %}
            </div>
        </div>

    </div>
    {% endif %}
    {% for post in posts %}
    <div class="content-posts m-1">
        <article class="post">
            <div class='alert alert-dismissible alert-gris'>
                <h4>
                    <a href="{{ path('post_show', {slug: post.slug}) }}">
                        {{ post.title }}
                    </a>
                </h4>

                <p class="post-metadata">
                    <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|localizeddate('long', 'medium',
                null,
                'UTC') }}</span>
                    <span class="metadata"><i class="fa fa-user"></i>
                        {{ post.fullAuthorName}}</span>
                </p>

                <div class="text-black">
                    {{ post.content|striptags|slice(0, 130) ~ "..." }}
                </div>
                <a href="{{ path('post_show', {slug: post.slug}) }}">
                    (voir plus)
                </a> 
                <hr>
                <a href="{{path('post_like',{id: post.id})}}" class="btn btn-link js-like">
                <span class="js-likes">{{post.numberLikes }}</span> <span class="js-label">J'aime</span>


                {% if app.user %}
                    {% if(app.user.id in post.likesUser) %}
                        <i class="fa fa-thumbs-up"></i>
                        {% else %}
                            <i class="fa fa-thumbs-up"></i>gris
                     {% endif %}

                {% endif %}

                </a>

            </div>
        </article>

    </div>
    {% endfor %}

    {% if posts.haveToPaginate %}
    <div class="m-5">
        <div class="navigation text-center">
            {{ pagerfanta(posts, 'twitter_bootstrap4_translated', {routeName: 'post_index_paginated_search', routeParams:
    app.request.query.all}) }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
{% if query %}
{% include "post/side-tags-search.html.twig" %}
{% else %}
{{ render_esi(controller('App\\Controller\\PostController::listTags', { 'maxPerPage': 20 })) }}
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('js/comments_likes') }}
{% endblock %}