{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>
    .fa {
        cursor: pointer;
        user-select: none;
    }

    .fa:hover {
        color: darkblue;
    }
</style>
{% endblock %}

{% block body_id 'blog_post_show' %}

{% block main %}

<h1>{{ post.title|raw }}</h1>

<p class="post-metadata">
    <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt| date("d/m/Y à H:i:s")}}</span>
    <span class="metadata"><i class="fa fa-user"></i> {{ post.author.firstname ~' '~post.author.lastname}}</span>
</p>

{{ post.content|raw }}

{# {{ include('post/_post_tags.html.twig') }} #}
<hr>
<a href="{{path('post_like',{id: post.id})}}" class="btn btn-link js-like">
    <span class="js-likes">{{post.likes | length}}</span>
    <span class="js-label">J'aime</span>
    {% if(app.user and post.isLikedByUser(app.user)) %}
     <i class="likeicon_{{post.id}} fa fa-thumbs-up" id="likeicon_{{post.id}}"></i>
    {% else %}
    <i class="likeicon_{{post.id}} fa" id="likeicon_{{post.id}}">&#xf087;</i>
    {% endif %}

</a>


<div id="post-add-comment" class="well">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    {% else %}
    <p>

        <a class="btn btn-primary" href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
        </a>
        {{ 'post.to_publish_a_comment'|trans }}
    </p>
    {% endif %}
</div>

<h3>
    <i class="fa fa-comments" aria-hidden="true"></i> {{ post.comments|length ~' '~'post.num_comments'|trans }}

</h3>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}


<div class="col-sm-12" style="vertical-align: middle;margin: 13px;clear:both;">
    {% set parent_id = null %}
    {{ include('post/_comment_form.html.twig') }}
    <div id="new-pushed-{{parent_id}}" class="new-pushed-comment"></div>
</div>

{% endif %}
<hr>

{% for comment in post.getCommentsLevelOne.comments|reverse %}



<div class="parentComment">
    <div class="row post-comment">
        <a name="comment_{{ comment.id }}"></a>
        <h4 class="col-sm-12">
            <span style="color:brown">{{ comment.author.firstname ~' '~comment.author.lastname}}</span> {{
            'post.commented_on'|trans }}
            {{ comment.publishedAt| date("d/m/Y à H:i:s")}}</strong>
        </h4>
    </div>
    <div class="row post-comment">
        <div class="col-sm-12">
            {{ comment.content|raw }}
        </div>
    </div>
{% set parent_id = comment.id %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="row new-comment">
        <div class="col-sm-10" style="vertical-align: middle;margin: 13px;clear:both;">
            {{ include('post/_comment_form.html.twig') }}
        </div>
    </div>
    {% endif %}
    <hr>
    <div id="new-pushed-{{parent_id}}" class="new-pushed-comment"></div>
    {% for child in comment.children|reverse %}
    <div class="childComment" style="margin-left: 25px; color: rgb(118, 133, 133)">

        <div class="row">
            <a name="comment_{{ child.id }}"></a>

                <span style="color:brown">{{ child.author.firstname ~' '~child.author.lastname}}
                </span> &nbsp;{{
                'post.commented_on'|trans }}
                {{ child.publishedAt| date("d/m/Y à H:i:s")}}</strong>

        </div>
        <div class="row">
            <div class="col-sm-12">
                 {{ child.content|raw }}
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% else %}

<div class="post-comment">
    <p>{{ 'post.no_comments'|trans }}</p>
</div>

{% endfor %}
{% endblock %}

{% block sidebar %}
{{ render(controller('App\\Controller\\PostController::linkedSubject', { post: post })) }}  
{% endblock %}
 

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('js/comments_likes') }}
{{ encore_entry_script_tags('js/comments_publish') }}
{% endblock %}