{% extends 'email/base_email.html.twig' %}

 {% block subject %}
     Un utilisateur {{ email }} vient d'envoyer un email
 {% endblock %}
{% block main %}
    {% block body %}

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"
               style="background-color:#FFFFFF;margin-top:20px;">
            <tr>
                <td width="15">&nbsp;</td>
                <td width="610">
                    Bonjour {{ username }},<br/>
                    <p>
                        Un utilisateur vient d'envoyer un email.
                    </p>
                    <table width="640" border="0" cellspacing="0" cellpadding="0" align="left"
                           style="background-color:#FFFFFF;margin-top:20px;">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td width="610">
                                <h3>Synthèse</h3>
                                <table>
                                    <tr>
                                        <td style="margin: 5px;" align="left">Nom :</td>
                                        <td style="margin: 5px;">{{ contact.name }}</td>
                                    </tr>
                                    <tr>
                                        <td style="margin: 5px;" align="left">Email :</td>
                                        <td style="margin: 5px;">{{ contact.email }}</td>
                                    </tr>
                                    <tr>
                                        <td style="margin: 5px;" align="left">Sujet :</td>
                                        <td style="margin: 5px;">{{ contact.subject }}</td>
                                    </tr>
                                    <tr>
                                        <td style="margin: 5px;" align="left">Message :</td>
                                        <td style="margin: 5px;">{{ contact.content }}</td>
                                    </tr>

                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>

                <td width="15">&nbsp;</td>
            </tr>
        </table>
        host :  <a href="{{ hostname }}" target="_blank">{{ hostname }}</a>
    {% endblock %}
{% endblock %}
