{% extends 'email/base_email.html.twig' %}
    {% block subject %}
        A new post   {{ title }}   has been created by   {{ username }}
    {% endblock %}
 {% block main %}
     {% block body %}
         A new post with title {{ title }} was created with the content : {{ content }}.
         By <b>{{ username }}</b>
         <br/>
         host :  <a href="{{ hostname }}{{ path('post_show', {uuid: post.uuid}) }}" target="_blank">{{ hostname }}</a>
     {% endblock %}
 {% endblock %}
